body {
  background-color: #fcf9ec;
  font: 15px/1.3 sans-serif;
  background-size: cover;
  background-image: url("images/bgimage.jpg");
  padding: 0;
  margin: 0;
  height: 100vh;
}
.inputblock{
  text-align: center;
  margin: 10px;
  color: #293462;
}
.parent{
  display: flex;
  height: 100vh;
  flex-direction: column;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
}

.header{
   align-self: flex-start;
   align-items: flex-start;
   display: flex;
   justify-content: space-between;
   background-color: white;
   padding: 10px 30px;
   box-sizing: border-box;
}

#app{
  height: 100%;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 100%;
}

.row{
  flex-direction: row;
  width: 100%;
}
.list {
  flex: 1;
  background: white;
  padding: 10px 20px;
  margin: 0px 40px 40px 40px;
  max-width: 400px;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.1),
    0 3px 10px rgba(0, 0, 0, 0.1);
}
.list .list-header {
  background-color: #12d3cf;
  margin: -10px -20px 10px;
  display: flex;
  padding: 0 30px;
  color: white;
}
.list .list-header .temp{
  margin-left: auto;
}
.list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.list li {
  padding: 10px;
  display: flex;
}
.list .item-name {
  flex: 1;
}
.list li + li {
  border-top: 1px solid #ccc;
}

.item{
  width: 50%;
  max-width: 500px;
}

button {
  background-color: #fcf9ec;
  border: 2px solid #12d3cf;
  color: #12d3cf;
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 10px;
  padding: 5px 10px;
}
[class^=laundry]:focus {
  outline: none;
}
.laundry-not-selected{
  background-color: #fcf9ec;
  color: #12d3cf;
}

.laundry-selected{
  background-color: #12d3cf;
  color: #fcf9ec;
}

input{
  font-family: inherit;
  color: gray;
  display: inline-block;
}
input[type=text], input[type=date]{
  padding: 2px 5px;
}
::-webkit-input-placeholder,
::placeholder {
  font-family: sans-serif;
}
label {
  color: #293462;
  font-family: sans-serif;
  font-size: 14px;
  margin-top: 20px;
  margin-left: 10px;
}
.dest-label {
  font-size: 16px;
}
#destination::placeholder {
  font-style: italic;
  color: #b0f4e6;
}
#destination {
  background: transparent;
  border: 0;
  border-bottom: 3px solid #b0f4e6;
  font-size: 16px;
  padding-left: 2px;
  padding-right: 2px;
  flex: 1;
}
button[type=submit]{
  color: #ffffff;
  font-size: 15px;
  border: 2px solid #ee5a5a;
  border-radius: 20px;
  padding: 10px 25px;
  background-color: #ee5a5a;
  margin-top: 50px;
}
#app .react-calendar {
  margin: 20px auto;
  background: #fcf9ec;
  border: 2px solid #12d3cf;
  border-radius: 10px;
  padding: 5px;

}
#app .react-calendar abbr {
  text-decoration: none;
  color: #7ac1c0;
}
#app .react-calendar__tile {
  border: 5px solid #fcf9ec;

}
#app .react-calendar__tile--active {
  background-color: #12d3cf;
}
#app .react-calendar__tile--active abbr {
  color: white;
}
