body {
  background-color: #fcf9ec;
}
button {
  background-color: transparent;
  border: 2px solid #12d3cf;
  color: #12d3cf;
  text-align: center;
  font-size: 12px;
  margin: 5px;
  border-radius: 30px;
  padding: 8px 10px;

}
