body {
  background-color: #fcf9ec;
}
.inputblock{
  text-align: center;
  margin: 10px;
}
#app{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.item{
  width: 50%;
  height: 50%;
  margin: auto;
}
button {
  background-color: transparent;
  border: 2px solid #12d3cf;
  color: #12d3cf;
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 10px;
  padding: 5px 10px;
}
input{
  font-family: inherit;
  color: gray;
  display: inline-block;
}
input[type=text], input[type=date]{
  padding: 2px 5px;
}
::-webkit-input-placeholder,
::placeholder {
  font-family: sans-serif;
}
label {
  color: #293462;
  font-family: sans-serif;
  font-size: 14px;
  margin-top: 20px;
  margin-left: 10px;
}
button[type=submit]{
  color: #ffffff;
  font-size: 15px;
  border: 2px solid;
  border-radius: 20px;
  padding: 10px 25px;
  background-color: #ee5a5a;
  margin-top: 50px;
}
